.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: red;

  .cardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .uploadProgress {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inputSectionWrapper {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
}
