.topComponentWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  // top: 10vh;

  .topImage {
    position: relative;

    .imageContainer {
      position: relative;
      top: 100px;
      left: 100px;
      overflow: hidden;
      height: 700px;
      width: 700px;
      img {
        height: 100%;
        width: auto;
      }
    }

    .textSection {
      position: absolute;
      color: white;

      top: 50px;
      left: 20px;

      .title {
        color: #263f44;
        font-size: 3em;
        font-family: 'Abril Fatface', cursive;
      }

      .description {
        padding: 20px 0;
        p {
          font-size: 1em;
        }
      }
    }
  }

  .topPicSection {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 150px;
    right: 200px;
    .topPicBackground {
      position: absolute;
      width: 500px;
      height: 400px;
      // background-color: #ffd369;
      background: rgba(255, 211, 105, 0.5);
      // opacity: 0.5;
      padding: 20px;
    }
  }
}
