.topComponentWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  // top: 10vh;

  .topImage {
    position: relative;

    .imageContainer {
      // border-radius: 100%;
      overflow: hidden;
      height: 100vh;
      width: 50vw;
      img {
        right: 0;
        height: 100%;
        width: auto;
      }
    }

    .textSection {
      position: absolute;
      color: white;
      font-size: 3em;
      top: 50px;
      left: 20px;
    }
  }
  .topPicSection {
    position: relative;
    top: 100px;
    left: 20px;
    display: flex;
    flex-direction: column;

    .description {
      padding: 20px 0;
      p {
        font-size: 1.5em;
      }
    }
  }
}
