.picWidWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 0 10px;

  .imageScreen {
    height: 300px;
    width: 400px;
  }

  .inputComment {
    width: 400px;
  }

  .fileInput {
    color: white;
  }
  .textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heartIcon {
      width: 60px;
      height: 60px;
    }
  }
}
