* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Archivo Narrow', sans-serif;
  background-color: #eaeaea;
  color: #263f44;
}

.mainWrapper {
  display: flex;
  justify-content: center;

  .contentsWrapper {
    min-height: 100vh;
    background-color: #eaeaea;
  }
}
