.surveyWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffefba); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-bottom: 100px;

  .title {
    position: relative;
    width: 80%;
    font-size: 4em;
    text-align: center;
    color: #263f44;
    font-family: 'Abril Fatface', cursive;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 60ch;
    margin: 15px 0;
  }

  .picWidRapper {
    position: relative;
    background-color: whitesmoke;
    padding: 0 10px 100px;
    // opacity: 80%;
    -webkit-box-shadow: -10px 10px 5px 0px rgba(176, 169, 176, 0.25);
    -moz-box-shadow: -10px 10px 5px 0px rgba(176, 169, 176, 0.25);
    box-shadow: -10px 10px 5px 0px rgba(176, 169, 176, 0.25);

    .centerLine {
      position: absolute;
      left: 50%;
      top: 10%;
      width: 3px;
      height: 300px;
      background-image: linear-gradient(
        135deg,
        rgba(176, 169, 176, 0.75),
        rgba(176, 169, 176, 0.05)
      );
    }

    .wrapWrap {
      position: relative;
      display: flex;
      top: 50px;
      height: auto;
      width: auto;

      .win1Wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
      }
      .win2Wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
      }
    }
  }
}
