@import '../../app';
.picWidRapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    position: relative;
    width: 80%;
    font-size: 4em;
    text-align: center;
    color: #263f44;
    font-family: 'Abril Fatface', cursive;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 20ch;
    overflow-wrap: break-word;
  }

  .centerLine {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 3px;
    height: 300px;
    background-image: linear-gradient(135deg, rgba(176, 169, 176, 0.75), rgba(176, 169, 176, 0.05));
  }

  .wrapWrap {
    position: relative;
    display: flex;
    height: auto;
    width: auto;

    .win1Wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0 30px;
    }
    .win2Wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0 30px;
    }
  }
}

@include responseTo(large) {
  .picWidRapper {
    .title {
      position: relative;
      width: 80%;
      font-size: 2em;
      text-align: center;
      color: #263f44;
      font-family: 'Abril Fatface', cursive;
    }

    position: relative;

    .wrapWrap {
      .win1Wrapper {
        margin: 0 5px;
      }
      .win2Wrapper {
        margin: 0 5px;
      }
    }
  }
}

@include responseTo(medium) {
  .picWidRapper {
    .title {
      position: relative;
      width: 95%;
      font-size: 1.5em;
      text-align: center;
      color: #263f44;
      font-family: 'Abril Fatface', cursive;
      max-width: 15ch;
    }

    .centerLine {
      display: none;
    }

    .wrapWrap {
      position: relative;
      flex-direction: column;
      width: 100vw;

      .win1Wrapper {
        margin: 10 0px;
      }
      .win2Wrapper {
        margin: 10 0px;
      }
    }
  }
}
