.surveyWrapper {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;

  .picWidRapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
}
